<div class="border-bottom boder-2 border-dark">
    <div class="container py-5 ">
        <div class="row py-md-5">
            <div class="col-12 col-md-6 py-1 py-md-5 text-center text-md-start">
                <h1 class="display-1">Tech Talk.</h1>
                <p class="fs-4 lh-1 text-muted fw-500 pb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, quis optio consequuntur.</p>
                <button type="button" class="btn btn-dark rounded-pill fs-500 fw-500 px-4">Start Reading</button>
            </div>
        </div>
    
    </div>
</div>
