@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.logo{
    font-family: "Archivo Black", sans-serif;
    letter-spacing: -1.5px;

}
 
html, body{
    font-family: "Barlow", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600px;
}
.fw-500{
    font-weight: 400px !important;
}

.infinite-title {
    font-size: 22px;
    letter-spacing: -0.6px;
}

@media only screen and(max-width:668px){
    .infinite-title {
        font-size: 0.9375rem;
        letter-spacing: -0.0px;
    }
    .infinite-author,
    .infinite-data{
        font-size: 0.8125rem;
    }
}

.fs-14{
    font-size: 0.875rem;
}
.fs-15{
    font-size: 0.9375rem;
}
.fs-12{
    font-size: 0.75rem;
}